/* Resetar css */
*{
    margin:0;
    padding:0;
}
.tam1{
    background: hsla(240,100%,50%,0.4);
    width: 240px;
    height: 240px;
    margin: 0 auto;
}
.tam2{
    background: hsla(0,100%,50%,0.4);
    width: 15rem;
    height: 15rem;
}
.tam3{
    background: hsla(120,100%,50%,0.4);
    width: 25vw;
    /* height: 25vh; */
}
.tam4{
    background: hsla(60,100%,50%,0.4);
    width: 25%;
}