.cor1{ background-color: rgb(50%,50%,50%)} /* vermelho */
.cor2{ background-color: rgb(0, 255, 0); }/* verde */
.cor3{ background-color: rgb(0%, 0%, 100%); } /* azul */
.cor4{ background-color: rgb(255, 255, 0); }/* amarela */
.cor5{ background-color: rgb(128, 128, 128); }/*  cinza */
	.cor6{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}